<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webDev Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dotnet_webDev_store.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-primary">
        <!-- Navigation -->
        <div class="navbar navbar-expand-md bg-primary navbar-dark">
            <div class="container d-flex">
                <!-- Brand -->
                <!-- Link to Home page -->
                <a class="navbar-brand" href="#">WebDev</a>

                <!-- Toggler/collapsible Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#MyNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="MyNavbar">
                    <ul class="navbar-nav ml-auto  ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Books
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Books" asp-action="ViewAllBooks">View All Books</a></li>
                                <li><a class="dropdown-item" href="#">Add Book</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container mt-2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="container mt-5">
        <hr >
        <div class="text-center text-muted small">
            <p>
                Created by: <a href="https://www.katlegomaphango.co.za">Katlego Maphango</a>
                &copy; 2023 - dotnet_webDev_store
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
