@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron bg-primary d-flex align-items-center justify-content-center rounded" id="PageHeader">
    <div class="text-center text-light ">
        <h1 class="display-4 font-weight-bold">Web Development Book Store</h1>
        <p class="lead">Shop online at the WebDev Book Store for amazing discounts on bestselling web development books!</p>
    </div>
</div>

<!-- Books-->
<div class="bg-light mt-4" id="Books">

    <h1 class="text-center">New releases</h1>

    <!-- Display the three most recently added books here -->
    <div>
        <h3>
            <a href="#" class="text-decoration-none">BookTitle</a>
        </h3>

        <p>Price</p>
        <p class="small">
            Written by ..... <br />
            Added to collection on ....
        </p>
        <p>Rating stars</p>
        <hr />
    </div>
</div>

<div class="text-end">
    <a href="#" class="btn btn-primary">View all books &rarr;</a>
</div>

<!-- Resources -->
<div id="Resources">
    <h1 class="text-center">Our Favourite Books</h1>
    <p>Section still under construction ...</p>
</div>
